@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600; /* semibold */
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
  font-style: normal;
}
  
body {
    font-family: 'SF Pro Text', sans-serif;
    overflow: hidden;
}
